.cart_section{
    padding: 10% 20%;
    position: relative;
}

.hall_cart{
    background: #F7F7F7;
    padding: 2rem 2rem;
    border-radius: 26px;

}
.rows{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_img{
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
}
.cart_img img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: auto;
    height: 100%;
}

.later_btn {
    color: #3b78f1;
    cursor: pointer;
}

.later_btn:hover{
    text-decoration: none!important;
}

.remove_btn {
    color: #AD7067;
    cursor: pointer;
}

.remove_btn:hover{
    text-decoration: none!important;
}

.not-visible {
    visibility: hidden;
}

.remove_buttons{
    color: red;
}

.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
    color: var(--text_color) !important;
    background: transparent !important;
    padding: 10px 50px !important;
    border-radius: 49px !important;
}

.first_half{
    display: flex;
    align-items: center;
    gap: 2rem;
}
