.row_info{
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.row_info{
    margin-left: auto;
    margin-right: auto;
}
.info_end{
    padding: 3% 12%;
}

.btn-light, .btn-light:hover, .btn-light:active, .btn-light:visited {
    background-color: var(--the_pink) !important;
    border: var(--the_pink) !important;
    color: white !important;
}

.something {
    list-style: disc !important;
}

.page_m a{
    text-decoration: none;
    color: black;
}
