
.form-check-input:checked {
    background-color: var(--the_pink) !important;
    border-color: var(--the_pink) !important;
}

.form-range::-webkit-slider-thumb {
    background: var(--the_pink) !important;
}

.form-range::-moz-range-thumb {
    background: var(--the_pink) !important;
}

.form-range::-ms-thumb {
    background: var(--the_pink) !important;
}

.form-range::-webkit-slider-thumb:active {
    background-color: white !important;
}
