#header{
    width: 100%;
    position: fixed;
    z-index: 10000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 8%;
    transition: all .3s ease;
}

.active_page{
    text-shadow: 0 0 20px #C65443;
}

.number_badge{
    top: 0;
    left: 25px;
}

.menu_bar{
    display: flex;
}

.menu_bar a{
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;

    color: var(--text_color);
    letter-spacing: 0.07em;

    margin: 0 30px;
    transition: all .55s ease;

}

.menu_bar a:hover{
    color: var(--the_pink);
}

.icons_for_header{
    display:flex;
}

.icons_for_header i{
    font-size: 20px;
    align-items: start;
    margin-right: 25px;
    cursor: pointer;
    transition: all .55s ease;
}

.icons_for_header i:hover{
    color: var(--the_pink);
}
