.new_store{
    min-height: 800px;
    padding: 7% 3%;
}
.outline{
    gap: 2rem;
    display: grid;
    grid-template-columns: 350px auto;
}
.choose_options{
    height: fit-content;
    background-color: white;
    padding: 7% 7%;
    border-radius: 12px;
}
.categories{
    margin-bottom: 10px;
}
.product_cards{

}
.p_card {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem
}
.p_card .card{
    margin: 1% 1%;
    border-radius: 10%;
    background: #FFFFFF;
}
.filter{
    margin-top: 20px ;
}

.dis{
    display: block !important;
}

.hide{
    display: none !important;
}

.mobile_outline{

}
