.colour_button {
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.description{
    width: 300px;
}


.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
    color: var(--text_color) !important;
    background: transparent !important;
    padding: 10px 50px !important;
    border-radius: 49px !important;
}

.upper_half{
    display: flex;
    padding: 7% 3%;
    gap: 5rem;
}
.the_price_part{
    width: 500px;
    border-radius: 20px;
    background: white;
    padding: 2% 2%;
}

.the_price_part_mobile{
    margin-top: 20px;
    border-radius: 20px;
    background: white;
    padding: 3% 5%;
}
.the_product_part{
    border-radius: 20px;
    background: white;
    padding: 2% 2%;
}

.the_product_part_mobile{
    border-radius: 20px;
    background: white;
    padding: 3% 5%;
}

.images{
    margin-left: auto;
    margin-right: auto;
}
.upper_image img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: auto;
    height: 100%;
}
.upper_image{
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 350px;
    margin-bottom: 10px  ;
}
.bottom_img{
    gap: 1rem;
    justify-content: space-between;
    display: flex;
}
.bottom_img img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: auto;
    height: 100%;
}


.bottom_img_mobile{
    display: block;
}

.bottom_img_mobile img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: auto;
    height: 100%;
}

.frames_mobile{
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    height: 70px;
    padding: 0.2rem 0.2rem;
}

.frames{
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    height: 120px;
    width: 100px;
    padding: 0.2rem 0.2rem;
}

.frames:hover{
    cursor: pointer;
    opacity: 0.5;
}

.frames_mobile:hover{
    cursor: pointer;
    opacity: 0.5;
}
.the_middle{
    display: flex;
    gap: 2rem;
}

.line_d_text{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.line_d_text p{
    font-size: 13px;
    margin-bottom: 5px !important;
}

.d_text{
    margin-top: 20px;
}



.upper_image_mobile img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: auto;
    height: 100%;
}
.upper_image_mobile{
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 260px;
    margin-bottom: 10px  ;
}

