.store_section{
    position: relative;
    height: 800px;
    align-items: center;
}
.slides{
    padding: 10% 10%;
    display: flex;
    gap: 2rem;
  }

.slide1 img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: auto;
    height: 100%;
}
.slide2 img{

    margin: auto;
    display: block;
    width: 100%;
    height: auto;
}
.img_card{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    height: 217px;
    width: 250px;
    padding: 1rem 0.2rem;
}
.slides .card{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    background: #FFFFFF;
}

.card-body div{
    margin-left: auto;
    margin-right: auto;
}


.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
    background-color: var(--the_pink) !important;
    border: var(--the_pink) !important;
}

.the_button{
    margin-top: 20px;
    text-align: right;
    margin-right: 150px;
}
