.watch_section{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2%;
    justify-content: space-between;
}

.button_middle a{
    border-radius: 50%;
    padding: 35px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 20px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: var(--text_color);
}
.watch_img img{
    width: 500px;
    margin-top: 300px;
}
