.btn-light, .btn-light:hover, .btn-light:active, .btn-light:visited {
    border: 1px solid var(--text_color) !important;
    border-radius: 49px !important;
}

.mobile_row{
    margin-bottom: 20px;
    background: white;
    gap: 1rem;
    border-radius: 10px;
    border: 1px solid black;
}

.side_img{
    width: 200px;
    height: 150px;

}

.side_img img{
    width: auto;
    height: 100%;

}
.mobile_cart{
    padding: 3% 3%;
}

.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
    color: var(--text_color) !important;
    background: transparent !important;
    padding: 10px 50px !important;
    border-radius: 49px !important;
}


