.overall{
   height: 1100px;
}
.img_ontop{
    position:absolute;
    transform: rotate(32.91deg);
}

.img_ontop img{
    width: 400px;

}
.mobile_text h1{
    font-size: 50px;
    font-weight: 700;
}

.mobile_text h5{
    padding: 1% 0%;
    font-size: 15px;
    line-height: 128.4%;
}

.mobile_text{
    margin-bottom: 50px;
    position: relative;
}

.mobile_text .text{
    z-index: 100;
}

.upper_thing{
    display: flex;
    justify-content: space-between;
}

.center_buttons{
    padding: 0 10%;
    margin-top: 20px
}

.center_buttons a{
    width: 100%;
}

.phones_mobile{
    padding: 10% 5%;
}

.background_text_for_mobile{
    color: #D9D9D9;
    z-index: -1;
    position: absolute;
    font-weight: 700;
    font-size: 96px;
}

.phones_div{
    height: 500px;

}
.watch_div{
    height: 300px;
}

.watch_div img{
    margin-top: 50px;
}

.phones_div img{
    margin-top: 50px;

}



