.store_mobile{
    padding: 10% 10%;
    align-items: center;
}
.mobile_outline{
    margin-top: 50px;
}

.filter_part{
    background: white;
    padding: 7% 7%;
    border-radius: 12px;
    margin-bottom: 20px;
}
